<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- location -->
        <mapping class="model.Location"/>

        <!-- vehicle -->
            <!-- abstract -->
        <mapping class="model.vehicle.Vehicle"/>
        <mapping class="model.vehicle.AirVehicle"/>
        <mapping class="model.vehicle.LandVehicle"/>
            <!-- functionnal -->
        <mapping class="model.vehicle.Car"/>
        <mapping class="model.vehicle.MotorBike"/>
        <mapping class="model.vehicle.Plane"/>

        <!-- people -->
        <mapping class="model.people.Person"/>
        <mapping class="model.people.Customer"/>
        <mapping class="model.people.Employee"/>
    </session-factory>
</hibernate-configuration>